<template>
  <article class="panel is-link">
    <p class="panel-heading">
      Home
    </p>
    <div class="home">
      <h3 v-if="user">Hi {{ user.first_name }}</h3>
      <h3 v-if="!user">No Auth</h3>
    </div>
  </article>

</template>

<script>
export default {
  name: 'Home',
  props: {
    user:null
  }
}
</script>
