<template>
  <article class="panel is-link">
    <p class="panel-heading">
      Logowanie
    </p>
    <div class="login">
      <form @submit.prevent="handleSubmit">


        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text" placeholder="Email" v-model="email">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password" v-model="password">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Login</button>
          </div>
        </div>
      </form>
    </div>
    <router-link to="/reset" class="is-light">Reset</router-link>
  </article>
</template>

<script>
import axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      email: '',
      password: '',
    }
  },

  methods: {
    async handleSubmit() {
      const response = await axios.post('login', {
        email: this.email,
        password: this.password
      })

      localStorage.setItem('token', response.data.token)
      this.$router.push('/')
    }
  }
}

</script>

<style scoped>
.login {
  padding: 5px 15px;
}
</style>