<template>
  <article class="panel is-link">
    <p class="panel-heading">
      Register
    </p>
    <div class="register">
      <form @submit.prevent="handleSubmit">
        <div class="field">
          <label class="label">First name</label>
          <div class="control">
            <input class="input" type="text" placeholder="First name" v-model="first_name">
          </div>
        </div>

        <div class="field">
          <label class="label">Last name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Last name" v-model="last_name">
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text" placeholder="Email" v-model="email">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password" v-model="password">
          </div>
        </div>

        <div class="field">
          <label class="label">Confirm Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Confirm Password" v-model="password_confirm">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Register</button>
          </div>
        </div>
      </form>
    </div>
  </article>
</template>

<script>
import axios from 'axios'

export default {
  name: "register",
  data() {
    return {
      first_name: '',
      last_name: '',
      email: '',
      password: '',
      password_confirm: '',
    }
  },
  methods: {
    async handleSubmit() {
    await axios.post('register', {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        password: this.password,
        password_confirm: this.password_confirm,
      });

      this.$router.push('/login');

    }
  }
}
</script>

<style scoped>
.register {
  padding: 5px 15px;
}
</style>