<template>
  <article class="panel is-link">
    <p class="panel-heading">
      Reset
    </p>
    <div class="login">
      <input class="input" type="text" placeholder="Email">
    </div>
  </article>
</template>

<script>
export default {
  name: "reset"
}
</script>

<style scoped>

</style>