<template>
  <div id="nav">
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://www.cyfrowe.pl/images/header/logo_podstawowe_jasne_tlo.png" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <router-link to="/" class="navbar-item">Home</router-link>
          <router-link to="/about" class="navbar-item">About</router-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons" v-if="!user">
              <router-link to="/register" class="button is-danger">Register</router-link>
              <router-link to="/login" class="button is-light">Login</router-link>
            </div>
            <div class="buttons" v-if="user">
              <button @click="handleClickLogout" class="button is-danger">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>

export default {
  name: "Nav",
  props: {
    user:null
  },

  methods: {
    handleClickLogout() {
      localStorage.removeItem('token');
      this.$router.push('/login');
    }
  }

}
</script>

<style scoped>

</style>