<template>
  <div id="app">
    <Nav :user="user"></Nav>
    <div class="container mt-2">
      <router-view :user="user"/>
    </div>

  </div>
</template>

<script>
import Nav from './components/Nav'
import axios from "axios";
export default {
  name: "App",
  components: {Nav},
  data() {
    return {
      user: null
    }
  },
  async created() {
    const response = await axios.get('user');
    this.user = response.data;
  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
